.form {
    font-family: 'Roboto', sans-serif;
}

.form__legend {
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-weight: 700;
    border: 2px solid #b1e3f4;
    border-radius: 5px;
    background-color: #072a54;
}

.form__fieldset {
    border-radius: 20px;
    box-shadow: 8px 10px 5px 0px #9c92c5a1;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.973);
}

.form__label {
    display: inline-block;
    max-width: 300px;
    margin-right: 10px;
    margin-left: 20px;
}

.form__select {
    padding: 2px;
}

.form__button {
    width: 100%;
    background-color: rgba(78, 81, 250, 0.11);
    border: 2px solid #b1e3f4;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
    margin: 10px auto;
}

.form__button:hover {
    background-color: rgba(78, 81, 250, 0.397);
}

.form__field {
    border-radius: 5px;
    padding: 3px;
}

.form__field:required {
    background-color: #8cc6fc85;
}

.form__field:read-only {
    background-color: #045bfd56;
}